<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ralem.ralemproductions.trolltext" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="applovin.sdk.key" android:value="1FyRzA4OzmrHFbhG_0yTNinC1K55wwOx9KM6VRVTCKlRwQivRfNqM90NU5TO_sJ9BgGg6m8J5um0JSwl6HTSRT"  />

        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity" />
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
        <activity
            android:name="com.ralem.ralemproductions.trolltext.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ralem.ralemproductions.trolltext.Texting"
            android:label="@string/title_activity_texting"
            android:parentActivityName="com.ralem.ralemproductions.trolltext.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ralem.ralemproductions.trolltext.MainActivity" />
        </activity>
        <activity
            android:name="com.ralem.ralemproductions.trolltext.chooseContact"
            android:label="@string/title_activity_choose_contact" >
        </activity>
        <activity
            android:name="com.ralem.ralemproductions.trolltext.dial"
            android:label="@string/title_activity_choose_contact" >
        </activity>

    </application>

</manifest>
